body {
  margin-top: 15px;
  background-image: url(img/Mathematics-desktop-1920x1080-hd-wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.shadow{
  box-shadow: 7px 10px 20px #aaaaaa;
}

.block {
  width: 430px;
  height: 600px;
  border: none;
  margin: auto;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 2px 4px 15px #aaaaaa;
}

.calculator {
  margin-top: 32px;
  position: absolute;
  margin-left: 1px;
}

/* Кнопки */
button {
  border: none;
  cursor: pointer;
  width: 85px;
  height: 80px;
  margin: -1px;
  font-size: 3vw;
  font-family: Arial Narrow;
}

/* цвет */
.num {
  outline: none;
  margin: -1px;
  font-size: 3vw;
  background: #4c515b;
  color: #ffffff;
}

.circle {
  outline: none;
  margin: -1px;
  font-size: 3vw;
  background: #ef4141;
  color: #ffffff;
}

 #null {
  outline: none;
  width: 172px;
 }

 .weather{ 
  outline: none;
  position: absolute;
  left: 435px;
  top: 199px;
  font-size: 5vw;
  background: transparent;
}

.icon-facebook{
  outline: none;
  position: absolute;
  left: 443px;
  top: 362px;
  font-size: 5vw;
  background: transparent;
}

.history{
  outline: none;
  position: absolute;
  left: 350px;
  top: 5px;
  font-size: 5vw;
  background: transparent;
}

.Icons{
  outline: none;
  position: absolute;
  left: 441px;
  top: 281px;
  font-size: 5vw;
  background: transparent;
}

/* ответ */
.display {
  box-shadow: 7px 10px 20px #aaaaaa;
  outline: none;
  width: 330px;
  height: 90px;
  border: 0;
  margin-top: 30px;
  margin-left: 100px; 
  background: #4c515b;
  text-align: right;
  font-size: 50px;
  color: #ffffff;
}

.section {
  margin: 3px 0;
}

.calculator__form {
  height: 100%;
  padding: 10px;
}

.HistoryBlock {
  width: 430px;
  height: 300px;
  display: none;
  margin-left: 455px;
  top: 35px;
  margin-bottom: 100px;
  position: absolute;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 4px 15px #aaaaaa;
}

.weatherBlock {
  width: 430px;
  height: 478px;
  display: none;
  margin-left: 455px;
  background: #ffffff;
  margin-bottom: 32px; /*100*/
  border-radius: 15px;
}

.val {
  width: 430px;
  height: 478px;
  background: #ffffff;
  margin-bottom: 32px;  /*100*/
  margin-left: 455px;
  border-radius: 15px;
  display: none;
  box-shadow: 2px 4px 15px #aaaaaa;
}

.facebook {
  width: 400px;
  margin-top: 398px;
  height: 80px;
  background: #ffffff;
  margin-bottom: 32px; /*100*/
  margin-left: 455px;
  border-radius: 15px;
  display: none;
  box-shadow: 2px 4px 15px #aaaaaa;
}

.goback {
  margin: 0px;
  background: #ffffff;
  outline: none;
}

ol {
    list-style: none; 
    padding: 0;
    margin-top: 75px;
    margin-left: 15px;
    float: left;
    font-size: 30px;
    font-family: Arial Narrow;
}

li::before {
    content: "•"; 
    padding-right: 8px;
    color: #ef4141; 
}

#history1 {
  display: none;
	color: #4c515b;
}
#history2 {
	color: #4c515b;
}
#history3 {
	color: #4c515b;
}
#history4 {
	color: #4c515b;
}
#history5 {
	color: #4c515b;
}
#history6 {
	color: #4c515b;
}
#historyHide {
  display: none;
}




.menu-container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  left: 0;
  top: 0;
  transition-delay: 0.1s;
}

.menu {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #ef4141;
  opacity: 0.87;
  border-radius: 20%;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
}

#hamburger {
  display: none;
}

label {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  tap-highlight-color: transparent;
}
label:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 62%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
  transform: scale(2);
}

#hamburger:checked ~ .menu-container {
  width: 24vw;
  height: 100vh;
  transition-delay: 0s;
}

#hamburger:checked ~ .menu-container .menu {
  width: 250vh;
  height: 250vh;
  transition: all 0.3s;
}



.menu-container .links {
  position: absolute;
  left: 12vw;
  top: 25vw;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: left;
}
.menu-container .links a {
  display: block;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin: 3rem;
}

#hamburger:checked ~ .content {
  padding-left: 35vw;
  transition: all 0.2s;
  transition-delay: 0s;
}