body {
  margin-top: 37px;
  background: url(Mathematics-desktop-1920x1080-hd-wallpaper.jpg);
  font-size: ;
}

.block {
  width: 385px;
  height: 50px;
  margin: auto;
  border-radius: 15px;
  background: #ffffff;

  box-shadow: inset 0 0 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.4),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 0 20px rgba(255,255,255,.1);
}

.calculator {
  margin-top: 17px;
  position: absolute;
  margin-left: -3px;
}

/* Кнопки */
button {
  background: #3C3838;
  border: none;
  cursor: pointer none;
  width: 70px;
  height: 70px;
  margin: 3px;
}

button:hover {
  box-shadow: 0 3px 20px rgba(255,165,0,.25),
  inset 0 2px 0 rgba(255,165,0,.10),
  0 2px 0 rgba(255,165,0,.4);
}

/* цвет */
.num {
  background: #4c515b;
  color: #ffffff;
}

.circle {
  background: #ef4141;
  color: #ffffff;
}

 #null {
  width: 150px;
 }

#icon1 {
  background-color: #3C3838;
}

/* ответ */
.display {
  width: 305px;
  height: 80px;
  border: 0;
  margin-top: 30px;
  margin-left: 79px; 
  background: #3C3838;
}
/*меню*/
.icon {
  width: 16px;
  height: 16px;
}

.section {
  margin: 7px 0;
}

#equals {
  background: #FE7904;
}

/* hr {
  width: 267px;
} */

.calculator__form {
  height: 100%;
  padding: 20px;
}
