body {
  /* background: #7B09DF; */
}

.calculator {
  width: 100%;
  text-align: center;
}

/* Кнопки */
button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 5px;
}

/* Округление кнопков */
.circle {
  border-color: #A5A5A5;
  border-radius: 20px;
  border-background: red;
}

/* пойсковая строка */
.search {
  border: 0;
  width: 237px;
  height: 30px;
}

hr {
  width: 237px;
}
